[Unit]
Description=Timer of crowdsec hub update

[Timer]
Persistent=true
OnCalendar=*-*-1,15 00:00:00
AccuracySec=1h
RandomizedDelaySec=15days
FixedRandomDelay=true

[Install]
WantedBy=timers.target
