[Unit]
Description=Timer of crowdsec nethesis-insights blocklist import

[Timer]
OnActiveSec=5min
OnUnitInactiveSec=15min

[Install]
WantedBy=timers.target
